<div class="ui modal cartInf">
<form class="ui form">
   <h4 class="ui dividing header">Информация о доставке</h4>
   <div class="field">
      <label>Name</label>
      <div class="two fields">
         <div class="field">
            <input type="text" name="shipping[first-name]" placeholder="First Name">
         </div>
         <div class="field">
            <input type="text" name="shipping[last-name]" placeholder="Last Name">
         </div>
      </div>
   </div>
   <div class="field">
      <label>Платёжный адресс</label>
      <div class="fields">
         <div class="twelve wide field">
            <input type="text" name="shipping[address]" placeholder="Улица ">
         </div>
         <div class="four wide field">
            <input type="text" name="shipping[address-2]" placeholder="Apt #">
         </div>
      </div>
   </div>
   <div class="two fields">
      <div class="field">
         <label>State</label>
         <select class="ui fluid dropdown">
            <option value="NV">Dnipro</option>
            <option value="NH">Lviv</option>
            <option value="NJ">Odessa</option>
            <option value="NM">Kiyv</option>
            <option value="NY">Harkiv</option>
            <option value="NC">Zmerenka</option>
         </select>
      </div>
      <div class="field">
         <label>Страны</label>
         <div class="ui fluid search selection dropdown">
            <input type="hidden" name="country">
            <i class="dropdown icon"></i>
            <div class="default text">Выберите страну</div>
            <div class="menu">
               <div class="item" data-value="am"><i class="am flag"></i>Armenia</div>
               <div class="item" data-value="kg"><i class="kg flag"></i>Kyrgyzstan</div>
               <div class="item" data-value="ua"><i class="ua flag"></i>Ukraine</div>
               <div class="item" data-value="uy"><i class="uy flag"></i>Uruguay</div>
               <div class="item" data-value="ye"><i class="ye flag"></i>Yemen</div>
               <div class="item" data-value="zm"><i class="zm flag"></i>Zambia</div>
               <div class="item" data-value="zw"><i class="zw flag"></i>Zimbabwe</div>
            </div>
         </div>
      </div>
   </div>
   <h4 class="ui dividing header">Billing Information</h4>
   <div class="field">
      <label>Card Type</label>
      <div class="ui selection dropdown">
         <input type="hidden" name="card[type]">
         <div class="default text">Тип</div>
         <i class="dropdown icon"></i>
         <div class="menu">
            <div class="item" data-value="visa"><i class="visa icon"></i> Visa </div>
            <div class="item" data-value="amex"><i class="amex icon"></i> American Express </div>
            <div class="item" data-value="discover"><i class="discover icon"></i> Открытие </div>
         </div>
      </div>
   </div>
   <div class="fields">
      <div class="seven wide field">
         <label>Номер карты</label>
         <input type="text" name="card[number]" maxlength="16" placeholder="Карта #">
      </div>
      <div class="three wide field">
         <label>CVC</label>
         <input type="text" name="card[cvc]" maxlength="3" placeholder="CVC">
      </div>
      <div class="six wide field">
         <label>Просрочка</label>
         <div class="two fields">
            <div class="field">
               <select class="ui fluid search dropdown" name="card[expire-month]">
                  <option value="">Месяц</option>
                  <option value="1">Январь</option>
                  <option value="2">Февраль</option>
                  <option value="3">Март</option>
                  <option value="4">Апрель</option>
                  <option value="5">Май</option>
                  <option value="6">Июнь</option>
                  <option value="7">Июль</option>
                  <option value="8">Август</option>
                  <option value="9">Сентябрь</option>
                  <option value="10">Октябрь</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
               </select>
            </div>
            <div class="field">
               <input type="text" name="card[expire-year]" maxlength="4" placeholder="Year">
            </div>
         </div>
      </div>
   </div>
   <h4 class="ui dividing header">Квитанция</h4>
   <div class="field">
      <label>Отправить квитанцию :</label>
      <div class="ui fluid multiple search selection dropdown">
         <input type="hidden" name="receipt">
         <i class="dropdown icon"></i>
         <div class="default text">Сохранить контакты</div>
         <div class="menu">
            <div class="item" data-value="jenny" data-text="Дженни"><img class="ui mini avatar image"
                  src="/images/avatar/small/jenny.jpg"> Jenny Hess </div>
            <div class="item" data-value="elliot" data-text="Элиот"><img class="ui mini avatar image"
                  src="/images/avatar/small/elliot.jpg"> Elliot Fu </div>
            <div class="item" data-value="stevie" data-text="Стиви"><img class="ui mini avatar image"
                  src="/images/avatar/small/stevie.jpg"> Stevie Feliciano </div>
            <div class="item" data-value="christian" data-text="Christian"><img class="ui mini avatar image"
                  src="/images/avatar/small/christian.jpg"> Christian </div>
            <div class="item" data-value="matt" data-text="Matt"><img class="ui mini avatar image"
                  src="/images/avatar/small/matt.jpg"> Matt </div>
            <div class="item" data-value="justen" data-text="Джастин"><img class="ui mini avatar image"
                  src="/images/avatar/small/justen.jpg"> Justen Kitsune </div>
         </div>
      </div>
   </div>
   <div class="ui segment">
      <div class="field">
         <div class="ui toggle checkbox">
            <input type="checkbox" name="gift" tabindex="0" class="hidden">
            <label>Не вкладывать квитанцию в посылку</label>
         </div>
      </div>
   </div>
   <div class="ui button" tabindex="0">Подтвердить заказ</div>
</form>
</div>