<div class="ui modal item${pets.id}">
  <div class="header  detProdTypeHead ">
    ${pets.type}: ${pets.name}
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img src="${pets.url}" />
      <div class="ui header detProdType prodPrice">
        Price: ${pets.price}<br />
        <i class="attention"> ${pets.quantity}</i> ${pets.type} available right
        now!
      </div>
    </div>
    <div class="description">
      <div class="ui  detProdType prodHeader">
        This ${pets.gender} ${pets.type} already ${pets.ageMonth} mons old.
      </div>
      <p class="mainInfo "></p>
      <div class="infoDetails">
        <h3>Details:</h3>
        <hr />
        <p>Colors: ${pets.color.join('/')}.</p>
        <p>Weight of pet: ${pets.weightKg}.</p>
        <p>Pet fur: ${pets.fur}.</p>
        <p>Life length: ${pets.lifetimeYears} years.</p>
        <p>This pet has short legs: ${pets.shortLegged}.</p>
        <p>This pet is predatory: ${pets.rapacity}.</p>
        <p>The pet has a pedigree: ${pets.pedigree}.</p>
        <p>The pet needs trimming: ${pets.trimming}.</p>
      </div>
    </div>
  </div>
</div>
