<div class="column">
  <div class="ui special card">
    <div class="image">
      <img src="{{url}}" />
    </div>
    <div class="content">
      <div class="header">{{type}} : {{name}}</div>
      <div class="description">
        <p class="prodInfo">Colors: {{color}}</p>
      </div>
    </div>
    <div class="four column row">
      <div class="left floated column">
        <p class="prodQuantity">Available: {{quantity}}</p>
      </div>
      <div class="right floated column">
        <p class="prodPrice">
          <i class="money bill alternate outline icon"></i>: {{price}}
        </p>
      </div>
    </div>
    <div class="ui two bottom attached buttons">
      <button
        class="ui button btnMore create_btn"
        type="button"
        id="item{{id}}">
        <i class="expand arrows alternate"></i>
        <i class="expand arrows alternate icon"> </i>More
      </button>
      <div class="modal"><div class="ui modal item{{id}}">
          <div class="header  detProdTypeHead ">
            {{type}}: {{name}}
          </div>
          <div class="image content">
            <div class="ui medium image">
              <!-- <img src="{{url}}" /> -->
              <div class="ui header detProdType prodPrice">
                Price: {{price}}<br />
                <i class="attention"> {{quantity}}</i> {{type}} available right
                now!
              </div>
            </div>
            <div class="description">
              <div class="ui  detProdType prodHeader">
                This {{gender}} {{type}} already {{ageMonth}} mons old.
              </div>
              <p class="mainInfo "></p>
              <div class="infoDetails">
                <h3>Details:</h3>
                <hr />
                <p>Colors: {{color}}.</p>
                <p>Weight of pet: {{weightKg}}.</p>
                <p>Pet fur: {{fur}}.</p>
                <p>Life length: {{lifetimeYears}} years.</p>
                <p>This pet has short legs: {{shortLegged}}.</p>
                <p>This pet is predatory: {{rapacity}}.</p>
                <p>The pet has a pedigree: {{pedigree}}.</p>
                <p>The pet needs trimming: {{trimming}}.</p>
              </div>
            </div>
          </div>
        </div>
         </div>
      <div id="{{id}}" class="ui btnAdd button">
        <i class="cart arrow down icon"></i>
        Add to cart
      </div>
    </div>
  </div>
</div>
<script >
   $(function () {
        $(`#item${pets.id}`).click(function () {
          $(`.item${pets.id}`).modal('show');
        });
        $(`.item${pets.id}`).modal({
          closable: true
        });
      });
</script>