.ui .message {
  background: white url(../data/img/start/main.jpg);
  /* background-size: 100px 200px; */
  background-repeat: no-repeat;
  background-position: right top;
  padding-top: 10px!important;
}

.inverted .menu {
  background-color: darkslategray;
}

.ui.menu .item>img:not(.ui) {
  display: inline-block;
  vertical-align: middle;
  margin-left: 30% !important;
  width: 100%;
  
  padding: 2px;
}

.ui.inverted.menu {
  background-color: darkslategray;
}

.item img {
  padding: 2px !important;
  margin: 0px !important;
  /* height: 60px; */
}

.search.icon {
  margin-right: 10px;
}

.ui.menu .item>i.icon {
  font-size: 26px;
}

.ui.menu .item>img:not(.ui) {
  display: inline-block;
  vertical-align: middle;
  margin: -.3em 0;
  width: 100%;
  padding: 2px;
}

.ui.inverted.menu .header.item {
  margin: 0;
  background: 0 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
}

body {
  padding-top: 56px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}

a {
  color: #052b1f;
}

.ui.grid {
  margin-top: 0 !important;
}

.ui.vertical.menu {
  width: auto;
}

#sidebar {
  width: 15% !important;
  position: absolute !important;
  height: 100vh;
  background-color: #f5f5f5;
  padding-top: 68px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0 7px;
  margin-left: 4%;
  height: auto !important;
}

#sidebar .ui.menu>a.item {
  padding: 10px 20px;
  line-height: 20px;
  color: white;
  border-radius: 0 !important;
  margin-top: 0;
  margin-bottom: 0;
}

.accordion-wrapper h3.item.active {
  background-color: #208171;
  padding: 10px 0 10px 10px;
  color: white;
  margin: 2px;
  cursor: pointer;
}

#sidebar .ui.menu>a.item:hover {
  background-color: #eee;
  color: #052b1f;
  font-weight: 600;
}

.ui.grid>.column:not(.row) {
  padding-top: 0;
  padding-bottom: 1rem;
}

.three.wide.column>.ui.vertical.menu>a.item:hover, .ui.right.sidebar.vertical.menu>a.item:hover {
  background-color: #f5f5f5;
}

.ui.fixed.borderless.menu {
  padding: 0;
  flex-wrap: wrap;
}

.ui.fixed.borderless.menu .row>a.header.item {
  font-size: 1.2rem;
}

.ui.message {
  background-color: white;
  box-shadow: none;
  padding: 5rem 4rem;
}

.ui.message h1.ui.header {
  font-size: 4.5rem;
  color: darkslategray
}

.ui.message p.lead {
  font-size: 1.3rem;
  color: #1f1b1b;
  line-height: 1.4;
  width: 70%;
  /* font-weight: 300; */
}

#sidebar {
  position: fixed;
  margin-top: 35px;
  background-color: darkslategray;
  padding-top: 20px;
  padding-left: 0;
  padding-right: 0;
}

.ui .vertical .borderless .fluid .text .menu .a {
  background-color: darkslategray;
  color: white;
  font-weight: 600;
}

button.ui.top.right.attached.button {
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-right-radius: 0;
  padding-right: 0.75rem;
}

.pushable {
  height: unset;
  overflow-x: visible;
}

.ui.right.sidebar {
  height: auto !important;
  margin-top: 1rem !important;
  padding-left: 0;
  padding-right: 0;
}

footer {
  padding: 24px 0;
}

.qualityImg {
  width: 60px;
  height: 60px;
  ;
}

.qualityAword {
  text-align: center;
  align-content: center;
  align-self: auto;
  align-items: baseline;
}

.ui .grid {
  margin-left: 40px;
}

.ui.message {
  margin-bottom: 0px;
  padding-bottom: 10px;
}

.ui.grid>.row>.column {
  margin-bottom: 30px;
}

.ui.card>.image>img, .ui.cards>.card>.image {
  display: block;
  width: 290px;
  height: 290px;
  border-radius: inherit;
}

.btnMore {
  background-color: #208171;
}

.ui.two.buttons>.button.btnMore {
  background-color: #477a9c;
  width: 50%;
  color: white;
  font-weight: 600;
}

.ui.two.buttons>.button.btnMore:hover {
  background-color: #365d77;
  width: 50%;
  color: white;
  font-weight: 600;
}

.ui.two.buttons>.button.btnAdd {
  background-color: #31b46c;
  width: 50%;
  color: white;
  font-weight: 600;
}

.ui.positive.right.labeled.icon.button.btnAdd {
  margin-top: 20px;
  width: 200px !important;
}

.ui.labeled.icon.button {
  position: relative;
  display: flex;
  float: right;
}

.ui.labeled.icon.button {
  margin-top: 10px;
  position: relative;
  display: block;
  background-color: #208171;
  color: white;
  widows: 50% !important;
}

.ui.black.button, .ui.black.buttons .button {
  background-color: #1b1c1d;
  color: #fff;
  text-shadow: none;
  background-image: none;
  float: right;
}

.ui.two.buttons>.button.btnAdd:hover {
  background-color: #29965a;
  width: 50%;
  color: white;
  font-weight: 600;
}

.ui .huge .dividing .header {
  color: #052b1f;
  font-size: 35px;
}

.ui.dividing.header {
  padding-bottom: .21428571rem;
  border-bottom: 1px #052b1f;
}

.ui.huge.header {
  min-height: 1em;
  font-size: 3em;
  color: #052b1f;
}

i.icon.search:before {
  content: "\f002";
  color: white;
  font-size: 20px;
  text-align: initial;
  line-height: 2;
}

.prodType {
  font-size: 18px;
  font-style: oblique;
  text-transform: capitalize;
  padding: 0;
}

.prodInfo {
  font-size: 18px;
  padding: 0;
  font-style: oblique;
  text-transform: capitalize;
}

.prodPrice {
  font-size: 21px;
  padding: 0;
  text-transform: capitalize;
  color: #052b1f;
  font-weight: 700;
}

.prodQuantity {
  font-size: 21px;
  text-transform: capitalize;
  color: #2c3a77;
  font-weight: 700;
}

.detProdType {
  text-transform: uppercase;
}

.attention {
  color: firebrick;
}

.infoDetails p {
  font-size: 18px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  font-style: oblique;
  text-transform: lowercase;
  color: #052b1f;
}

.prodHeader {
  font-size: 22px;
  font-weight: 600;
  font-style: oblique;
  text-transform: unset;
  color: darkslategray !important;
}

.detProdTypeHead {
  font-size: 26px !important;
  font-style: oblique;
  text-transform: capitalize;
  color: darkslategray !important;
}

.infoDetails>h3 {
  font-weight: 600;
  font-size: 24px;
  padding: 0;
  margin: 0;
  color: rgb(10, 48, 48) !important;
}

.filterHead {
  color: white;
  font-weight: 600;
  font-size: 17px;
  padding: 5px, 0, 5px, 0;
}

.checkInput {
  width: 18px !important;
  height: 18px !important;
  line-height: 1;
}

.inputMin {
  width: 80px !important;
  height: 30px !important;
  float: left;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgb(10, 48, 48);
}

.inputMax {
  width: 80px !important;
  height: 30px !important;
  float: right;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgb(10, 48, 48);
}

.checkLabel {
  color: white;
  font-weight: 600;
  font-size: 18px;
  padding: 3px 15px 0 0;
  text-transform: capitalize;
  align-self: top;
}

/* ggggggggggggggggggggggggggggggggggggggggggggg */

/* 
#modal-overlay {
  box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, .2), 1px 3px 15px 2px rgba(0, 0, 0, .2);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .8);
  z-index: 9998;
}

.modal-content {
  transform-origin: 50% 25%;
  transform-origin: 50% 25%;
  border-top-left-radius: 0.285714rem;
  border-top-right-radius: 0.285714rem;
  border-bottom-right-radius: 0.285714rem;
  border-bottom-left-radius: 0.285714rem;
  box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, .2), 1px 3px 15px 2px rgba(46, 41, 41, 0.2);
  transform-origin: 50% 25%;
  display: none;
  z-index: 1001;
  background: #fff;
  border: none;
  display: none;
  position: fixed;
  top: 20%;
  left: 8%;
  width: 84% !important;
  height: 75%;
  padding: 16px;
  z-index: 9999;
  overflow: auto;
}

#modal-overlay .modal-content {
  transform-origin: 50% 25%;
  box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, .2), 1px 3px 15px 2px rgba(0, 0, 0, .2);
  transform-origin: 50% 25%;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
  text-align: left !important;
  padding: 16px;
  display: block;
} */

/*  */

.ui.inverted.menu .active.item {
  background: none !important;
  color: #fff!important;
}

.cartInf {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 27px;
  border-radius: 0.25rem;
  box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, .2), 1px 3px 15px 2px rgba(0, 0, 0, .2);
  width: 20rem;
}

.ui.dividing.header {
  padding-bottom: .21428571rem;
  font-size: 22px;
  border-bottom: 1px #052b1f;
  color: rgb(26, 59, 59) !important;
  font-style: oblique;
  border-bottom: 1px solid #052b1f;
}

.dividing>.header {
  font-size: 22px;
  /* font-size: 26px !important; */
  font-style: oblique;
  text-transform: capitalize;
  color: rgb(8, 51, 51) !important;
}

.successBtn {
  background-color: #477a9c;
  width: 50%;
  color: white;
  font-weight: 600;
}

.ui.button.successBtn {
  background-color: #477a9c !important;
  color: white;
  cursor: point;
  font-weight: 600;
  font-size: 18px;
}

.ui.labeled.icon.button {
  position: relative;
  display: block;
  background-color: #208171;
  color: white;
  widows: 50% !important;
}

.FilterBtn {
  /* padding-left: 55%; */
  margin-left: 30% !important;
  background-color: #208171 !important;
  width: 135px !important;
  display: block;
}

.FilterBtn:hover {
  position: relative;
  background-color: #ffffffcb!important;
  color: rgb(9, 48, 35);
  widows: 30% !important;
  display: block;
}

.ui.labeled.icon.button:hover {
  position: relative;
  background-color: #ffffff;
  color: rgb(9, 48, 35);
  widows: 50% !important;
  padding-left: 55%;
  /* margin-left: 30%; */
  display: block;
}

.ui.floating.dropdown>.menu {
  background-color: #208171;
}

.ui.floating.dropdown>.menu:hover {
  background-color: #208171;
}

.ui.label {
  display: inline-block;
  line-height: 1;
  vertical-align: baseline;
  margin: 0 .14285714em;
  background-color: rgba(9, 9, 66, 0.034);
  background-image: none;
  padding: 2px;
  ;
  color: rgba(0, 0, 0, .6);
  text-transform: none;
  font-weight: 700;
  border: 0 solid transparent;
  border-radius: .28571429rem;
}

.ui.label>.icon {
  width: auto;
  margin: 0 0 0 0;
  padding: 2px;
  font-size: 18px;
  color: white;
}

.innerText {
  color: white;
  font-size: 16px;
}

.cd-cart__trigger, .cd-cart__content {
  position: fixed;
  bottom: 20px;
  right: 5%;
  transition: transform .2s;
}

.cd-cart--empty .cd-cart__trigger, .cd-cart--empty .cd-cart__content {
  transform: translateY(150px);
}

.cd-cart__layout {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  overflow: hidden;
  height: 72px;
  width: 72px;
  border-radius: var(--radius);
  transition: height .4s .1s, width .4s .1s, box-shadow .3s;
  transition-timing-function: cubic-bezier(.67, .17, .32, .95);
  background: var(--cd-color-3);
  box-shadow: 0 4px 30px rgba(#000, .17);
}

.cd-cart--open .cd-cart__layout {
  height: 100%;
  width: 100%;
  transition-delay: 0s;
}

.cd-cart__product--deleted {
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0;
  animation: cd-item-slide-out .3s forwards;
}

@keyframes cd-item-slide-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(80px);
    opacity: 0;
  }
}

.CartImg {
  height: 45% !important;
  margin-left: 25px !important;
}

.CartInfo {
  padding-left: 3px !important;
  margin-left: 3px !important;
}

.cartMainInfo {
  font-size: 23px;
}

/* ////////////////// */

.accordion-wrapper {
  width: 230px;
  margin: 0 auto;
}

.accordion-wrapper h3 {
  background-color: rgba(26, 99, 81, 0.486);
  padding: 10px 0 10px 10px;
  color: white;
  margin: 2px;
  cursor: pointer;
}

.accordion-wrapper h3:hover {
  background-color: rgba(243, 214, 152, 0.87);
  padding: 10px 0 10px 10px;
  color: rgb(8, 31, 17);
  margin: 2px;
  cursor: pointer;
}

.accordion-wrapper div {
  margin-top: 10px;
  padding: 0 10px;
}

.hide {
  display: none;
}

.purple {
  color: purple;
}

.modal {
  display: none;
  position: fixed;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  background-color: white;
  padding: 20px;
  margin: auto;
  width: 75%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.close-btn {
  float: right;
  color: lightgray;
  font-size: 24px;
  font-weight: bold;
}

.close-btn:hover {
  color: darkgray;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}